body {
  padding: 0 margin: 0
}

.main {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.logo_text {
  float: left;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 60px;
}

.logo_text a {
  color: black;
  font-family: "futura-pt";
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-weight: 300;
    font-style: normal;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.logo_text a:hover {
  color: #777676;
}

.menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

.menu ul li a {
  padding-left: 15px;
}

.menu {
  float: right;
}

.menu ul {
  list-style: left: auto
}

.menu ul li a:link {
  text-decoration: none;
}

.menu ul li a:visited {
  text-decoration: none;
}

.menu ul li a:hover {
  text-decoration: none;
}

.menu ul li a:active {
  text-decoration: none;
}

.menu ul li a {
  color: #999;
}

.menu ul li a:hover {
  color: black;
}

.clear {
  clear: both;
}

.footer {
  margin-top: 40px;
}

.shekil {
    float: left;
    width: 60%;

}

.shekil img {width: 100%}


.lefttex {
    float: right;
    width: 35%;
}

.lefttex {
    color: #ABABAB;
    font-weight: 300;
    margin-bottom:0;
}

.about {
    color: #575757;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.footer {
    border-color: #80808040;
    color: #111;

}

.footer {
  margin-top: 40px;
}
.footer a {
  color: #ddd;
}

.a1{
    border-bottom: 1px solid #111
    border-bottom: 1px solid #111;
    border-color: #80808040;
    color: #111;
    text-decoration: underline;
}
