body {
  padding: 0 margin: 0
}

.main {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.logo_text {
  float: left;
  font-size: 42px;
  font-weight: bold;
}

.logo_text a {
  color: black;
  font-family: "futura-pt";
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-weight: 300;
    font-style: normal;
}

.logo_text a:hover {
  color: #777676;
}

.menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

.menu ul li a {
  padding-left: 15px;
}

.menu {
  float: right;
}

.menu ul {
  list-style: left;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.menu ul li a {
  color: #999;
}

.menu ul li a:hover {
  color: black;
}

.clear {
  clear: both;
}

.galery {
  margin-top: 60px;
}

.galery div {
  margin-bottom: 20px;
  float: left;
  width: 75%;
  text-align: center;
}

.galery div img {
  width: 100%
}


.footer {
  margin-top: 40px;
}

.metn2 {
 float: left;
}

.logo_text2 {
  float: left;
  font-size: 25px;
}

.logo_text2 a:hover {
  color: #777676;
}

.logo_text2 a {
  color: black;
}


.sagmenu {
    width: 30%;
    float: right;
}


.blogleftimage {
    float: left;
    width: 65%;
}

.blogleftimage img { width: 100%}


.latest {
    color: #222222;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.cities {
    color: #ABABAB;
    font-weight: 300;
    margin-bottom:0;
}

.cities:hover {color: black;}

.date {
    color: #ABABAB;
    font-size: 12px

}

.text1 { column-count: 2;}

.topmargin {
    margin-top: 60px;
}

.footer a {
  color: #ddd;
}
h2 a {
  color: black;
  font-family: "futura-pt";
    font-size: 2em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-weight: 300;
    font-style: normal;
}


.second_image {
    float: left;
    width: 65%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.second_image img {
  width: 100%;
}

.text2 {
  column-count: 2;
  float: left;
  width: 65%;

}
