body {
  padding: 0 margin: 0
}

.main {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.logo_text {
  float: left;
  font-size: 42px;
  font-weight: bold;
}

.logo_text a {
  color: black;
  font-family: "futura-pt";
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-weight: 300;
    font-style: normal;
}

.logo_text a:hover {
  color: #777676;
}

.menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

.menu ul li a {
  padding-left: 15px;
}

.menu {
  float: right;
}

.menu ul {
  list-style: left: auto
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.menu ul li a {
  color: #999;
}

.menu ul li a:hover {
  color: black;
}

.clear {
  clear: both;
}

.galery {
  margin-top: 60px;
}

.galery .galery_item_container {
  margin-bottom: 20px;
  float: left;
  width: 32%;
  text-align: center;

}


.galery .galery_item_container:hover {
  opacity: 0.8;
  cursor: pointer;
}
.center_image {
  margin-left: 2%;
  margin-right: 2%;
}

.footer {
  margin-top: 40px;
}
.footer a {
  color: #ddd;
}

.galery_item {
  height: 350px;
  width: 100%;
  background-repeat:no-repeat;
  background-position: center center;
  }

  @media only screen and (max-width: 800px) {
    .galery .galery_item_container {
      width: 49%;
    }
    .center_image {
      margin-left: 0%;
      margin-right: 0%;
    }
    .galery_item {
      height: 200px;
      }
      .second_img {
        margin-left: 2%;
      }
}

@media only screen and (max-width: 430px) {
  .galery .galery_item_container {
    width: 100%;
  }

  .galery_item {
    height: 200px;
    }
    .second_img {
      margin-left: 0;
    }
}



.galery p {
    color: gray;
    font-family: "futura-pt";
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-weight: 300;
    font-style: normal;
}
